body {
  font-family: "Newsreader", serif;
}
p{
  margin: 0;
}
.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 440px;
}
.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}
.menus button {
  background: none;
  border: none;
  padding: 5px;
  margin: 5px;
}
.menus button:hover {
  background-color: #ebebeb;
}
.img-size{
  width: 28vw;
  margin: 4px;
}
.news-img-size {
  width: 100%;
  height: 28vh;
}
.news {
  border-bottom: 2px solid black;
  margin-bottom: 5px;
}
.news-title {
  margin-top: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5em;
  /* max-height: 10vh; */
}
.news-contents{
  font-size: 1em;
  /* max-height: 18vh; */
}
.news-time{
  font-size: 0.7em;
}
.news-update{
  margin-top: 6px;
  font-size: 0.7em;
}
.search-icon {
  padding: 10px 5px 10px 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  cursor: pointer;
}
.menu-icon {
  padding: 10px 5px 10px 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  cursor: pointer;
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  background-color: white;
  width: 40vw;
  padding: 10px;
}
#menu-bar {
  display: none;
  position: absolute;
  z-index: 1;
  transition: 0.5s;
  width: 40vw;
  height: 37vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.menu button {
  display: block;
  transition: 0.3s;
  text-decoration: none;
  color: black;
  padding: 3px;
  background-color: white;
  border: none;
  cursor: pointer;
}
.menu button:hover {
  text-decoration: underline;
}
.iconBox{
  display: flex;
}
#searchBox{
  margin: 5px;
  display: none;
}
#searchBox button{
  background-color: white;
  border-radius: 5px;
}
#searchBox button:hover{
  background-color: lightgray;
}
#news-link{
  list-style: none;
  color: black;
  text-decoration: none;
}
.pages{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.p-col{
  color: black;
}
.page-link{
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 426px) {
  .menu-icon {
    display: block;
    padding: 10px 5px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
  } 
  .iconBox {
    display: flex;
  }
  .menus {
    display: none;
  }
  .news-img-size {
    width:100vw;
    height: 20vh;
    margin-bottom: 5px;
  }
  .contentBox{
    display: flex;
    flex-direction: column;
  }
  .news-title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 0.9em;
  }
  .news-contents{
    font-size: 0.7em;
    max-height: 18vh;
  }
}
@media screen and (max-width: 769px) {
  .img-size{
    width: 50vw;
    height: 40vh; 
  }
  .news-img-size {
    height: 40vh;
    margin-bottom: 5px;
  }
  .news-title {
    margin-top: 7px;
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 1.2em;
  }
  .news-contents{
    font-size: 0.8em;
    max-height: 18vh;
  }
}